.container {
  margin: 0 auto;
  max-width: 80%;
}

.inputField {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.inputField__text {
  margin: 0;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  border: 1px solid;
  font-size: 1em;
  padding-left: 10px;
}
.inputField__text:focus {
  outline: none;
}

.inputField__submit {
  border-radius: 30%;
  height: 33px;
  border: 1px solid dodgerblue;
  position: relative;
  right: 40px;
  cursor: pointer;
  background: dodgerblue;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  outline: 0;
  transition: 0.3s linear;
}
.inputField__submit:active {
  transform: scale(0.85);
  box-shadow: 5px 5px 25px 1px rgba(0, 0, 0, 0.25);
}

.inputField__submit:hover {
  background: #237fdc;
  border: 1px solid #237fdc;
}

.cards {
  max-width: 100%;
  margin: 30px auto;
  display: grid;
  gap: 1rem;
}
.cards__card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  height: 4rem;
  box-shadow: 5px 5px 25px 1px rgba(0, 0, 0, 0.25);
}
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
